<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new book</h1>
    <form action="/books/addbook" method="post">
        <input type="text" name="book_name" placeholder="Name of the book">
        <input type="number" name="book_price" placeholder="Price of the book">
        <input type="text" name="author" placeholder="Author of the book">
        <input type="number" name="edition" placeholder="edition">
        <button type="submit">submit</button>
    </form>
</body>
</html>