*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#movies{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

#movies div{
    width: 30%;
    background-color: lightgreen;
}
   